/* Novo Estilo CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #4A00E0, #8E2DE2);
}

.cep-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #555;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 30px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
    border-color: #8E2DE2;
    outline: none;
    box-shadow: 0 0 5px rgba(142, 45, 226, 0.2);
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.botao {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #4A00E0;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 10px;
}

.botao:last-child {
    margin-right: 0;
}

.botao:hover {
    background-color: #8E2DE2;
    transform: translateY(-2px);
}

.botao-apagar {
    background-color: #FF416C;
}

.botao-apagar:hover {
    background-color: #FF4B2B;
}
